.container {
  width: 80%;
  height: 220px;
  margin: 16px auto;
  /* outline: 8px solid red; */
  overflow: hidden;
  position: relative;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}

li{
  height: 100%;
  min-width: 100%;
}

li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  border: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  transform: translateY(-50%);
}
#prev{
  left: 0;
}
#next{
  right: 0;
}