@charset "utf-8";

body{
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
  display: flex;
  padding: 0 16px;
}
header h1{
  margin: 0;
  font-size: 22px;
  line-height: 64px;
}
header .overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 64px;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}
.overlay #close{
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 32px;
}
.overlay ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.overlay li{
  margin-top: 24px;
}
.overlay.active{
  opacity: 1;
  pointer-events: auto;
}

.sp-menu{
  margin-left: auto;
}
.sp-menu #open{
  font-size: 32px;
  line-height: 64px;
  cursor: pointer;
}
#open.hide{
  display: none;
}

main{
  padding: 0 16px;
}
